Source: ros-melodic-bondpy
Section: misc
Priority: extra
Maintainer: Mikael Arguedas <mikael@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-bond, ros-melodic-catkin, ros-melodic-rospy, ros-melodic-smclib
Homepage: http://www.ros.org/wiki/bondpy
Standards-Version: 3.9.2

Package: ros-melodic-bondpy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-rospy, ros-melodic-smclib, uuid-dev
Description: Python implementation of bond, a mechanism for checking when another process has terminated.
